# JARVIS Pro — Requirements
# Install all with: pip install -r requirements.txt

customtkinter
python-dotenv
requests
psutil
wikipedia
pyaudio
pyttsx3
speechrecognition
pyautogui
pipwin 
anthropic
pycaw
comtypes